

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.logo{
	@include pos-scale(-12, -10, .56);
}


#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 480px;
}

