

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 0;
	.bg1{
		@include pos(800, 0);
	}

	.bg{
		@include pos(-500, 0);
	}

}

.product{
	
}

.logo{
	@include pos-scale(	30, 0, .5);
}


.t1, .t2{
	@include pos-scale(	25, 0, .5);
}

#banner{
	font-size: 20px;
	color: #333;
	width: 1024px;
	height: 768px;
}

