

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.product{
	@include pos-scale(-15, 0, .5);
}

.logo{
	@include pos-scale(8, 0, .5);
}

#banner{
	font-size: 20px;
	color: #333;
	width: 970px;
	height: 250px;
}

