<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<div class="bg">
			<img class="bg1" src="./images/bg.jpg" alt="" inline>
			<img class="bg2" src="./images/bg.jpg" alt="" inline>
		</div>

		
		<img class="retina logo" src="./images/logo.png" alt="" inline>
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		<img class="retina legal" src="./images/legal.png" alt="" inline>
		<img class="retina product" src="./images/product.png" alt="" inline>
	</div>
	<div class="frame frame2">
		<p class="t1">Did you know that it</p>
		<p class="t2">comes in white</p>
		<img class="phone white" src="../_common/images/phone-white.jpg" inline>
	</div>
</div>