<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img class="bg" src="./images/bg.jpg" alt="" inline>
		<img class="leaf_nw" src="./images/leaf_nw.png" alt="" inline>
		<img class="leaf_ne" src="./images/leaf_ne.png" alt="" inline>
		<img class="leaf_se" src="./images/leaf_se.png" alt="" inline>
		<img class="retina logo" src="./images/logo.png" alt="" inline>
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		<!-- <img class="retina t2" src="./images/t2.png" alt="" inline> -->
		<img class="retina legal" src="./images/legal.png" alt="" inline>
		<img class="product" src="./images/product.png" alt="" inline>
	
		
		
		
	</div>	
</div>